:root {
  --vp-c-brand: #4273ae;
  --vp-c-brand-light: #0175bc;
  --vp-c-brand-lighter: #f7a60e;
  --vp-c-brand-dark: #3e5970;
  --vp-c-brand-darker: #393536;

  --vp-c-sponsor: #f47a21;
}

/* Center mermaid SVGs */
.mermaid svg {
  margin: auto;
}

/* Utilities */
.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.w-auto {
  width: auto;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.overflow-hidden {
  overflow: hidden;
}

.min-h-400px {
  min-height: 400px;
}

.max-h-800px {
  max-height: 800px;
}